---
import './presentation.css';
---

<section class="presentation">
    <h2 class="h2">Hello, I am</h2>
    <h1 class="h1">Crisis Tecno</h1>
    <h3 class="h3">Front-End FullStack Developer</h3>
</section>