---
import "./nav_bar.css";
---
<div id="ancla"></div>


<section id="nav-bar">
  <div class="izq">
    <ul class="lists">
      <a href="#header">Home</a><a href="#ancla_about">About</a><a href="#resume">Resume</a>
    </ul>
  </div>

  <div id="profile">
    <img src="assets/hol.jpeg" id="profile1" class="fade-out-up" alt="" />
    <span class="fade-in-up"> Cristhian Lucio</span>
    <span id="yupi" class="fade-in-up"> FullStack | Developer</span>
  </div>

  <div class="drc">
    <ul class="lists">
      <a href="#">Portfolio</a><a href="#">Blog</a><a href="#">Contact</a>
    </ul>
  </div>
</section>
<script src="./nav.ts">
  
</script>
