---
import './resume.css';
---

<div id="resume">
   
</div>




<!-- <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section>
<section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quam eaque reiciendis numquam fugit aut necessitatibus quidem distinctio eveniet odit, pariatur voluptas. Numquam a, beatae debitis dolor vitae sequi quaerat.
</section> -->