---
import '@fontsource-variable/roboto-mono';
import Header from '@components/social_media/social_media.astro';
import Presentation from '@components/presentation/presentation.astro';
import NavBar from '@components/nav_bar/nav_bar.astro';
import About from '@components/about/about.astro';
import Resume from '@components/resume/resume.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	
		<Header/>
		<main>
			<Presentation/>
			<NavBar/>
			<About/>
			<Resume/>
		</main>
		

	</body>
</html>
<style is:global>
	*{
		  /* border: solid 1px red;   */
	}
	body{
		position: relative;
		font-family: 'Roboto Mono Variable';
		background-color: aliceblue;
		margin: 0;
		padding: 0;	
	}
	body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
			background-attachment: fixed;
	background-size:cover;
	background-image: url(assets/background.jpeg);
	filter: brightness(0.1); /* Ajusta el valor según tus preferencias para reducir el brillo */
	z-index: -1;
	}
</style>















<!--
	.ufu{
		position: relative;
		top: 0;
		left:15px;
		width: 70vw;
	} 
	
	img{
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0; /* Alinea la imagen en la esquina superior izquierda */
	width: 100vw; /* Ancho al 100% del contenedor */
	height: 100vh; /* Altura al 100% del contenedor */
	object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
	 /* Aplica un filtro de brillo del 50% */
	z-index: -1;
	background-attachment: fixed;
}  -->
